# Fortran compiled files
*.o
*.mod
*.out

# executables
main_program
monte_carlo_solver
bare_slab_benchmark/monte_carlo_bare_slab_benchmark
*.exe

# macOS
.DS_Store

# generated outputs
outputs/
bare_slab_benchmark/outputs/